certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
distutils-pytest==0.2.1
engineering-notation==0.10.0
idna==3.7
iniconfig==2.0.0
joblib==1.4.2
nltk==3.8.1
numpy==2.0.1
opencv-python==4.10.0.84
packaging==24.1
pluggy==1.5.0
PyAudio==0.2.14
pytest==8.3.2
regex==2024.7.24
requests==2.32.3
setuptools==72.2.0
SpeechRecognition==3.10.4
tk-tools==0.16.0
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.2.2
wheel==0.44.0
